
*.png
__pycache__/utils.cpython-39.pyc
.ipynb_checkpoints/Random_Forest_Iris-checkpoint.ipynb
.DS_Store
.ipynb_checkpoints/Explore_Scatterplot_Housing-checkpoint.ipynb
.ipynb_checkpoints/Linear_Regression-checkpoint.ipynb
.ipynb_checkpoints/Logistic_Regression_Iris-checkpoint.ipynb
.ipynb_checkpoints/Naive_Bayes_Iris-checkpoint.ipynb
.ipynb_checkpoints/Nearest_Neighbor_Credit_Scoring-checkpoint.ipynb
